<nav aria-label="breadcrumb">
  <ol class="breadcrumb"> Actions: <li class="breadcrumb-item"><a href="/user/create">Create User</a></li>
    <li class="breadcrumb-item"><a href="/user/all">View Users</a></li>
  </ol>
</nav>
