<nav aria-label="breadcrumb">
  <ol class="breadcrumb"> Actions: <li class="breadcrumb-item"><a href="/cases/create">Create Cases</a></li>
    <li class="breadcrumb-item"><a href="/cases/all">View Cases</a></li>
      </ol>
</nav>
