<nav aria-label="breadcrumb">
  <ol class="breadcrumb"> Actions: <li class="breadcrumb-item"><a href="../opportunities/create">Create Opportunities</a></li>
    <li class="breadcrumb-item"><a href="../opportunities/all">View Opportunities</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a href="../opportunities">Opportunities</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a href="../leads">Leads</a></li>
  </ol>
</nav>
