<nav aria-label="breadcrumb">
  <ol class="breadcrumb"> Actions: <li class="breadcrumb-item"><a href="/account/create">Create Account</a></li>
    <li class="breadcrumb-item"><a href="/account/all">View Accounts</a></li>
    
  </ol>
</nav>
