<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
    {% if is_granted('ROLE_ADMIN') %}
    <li class="breadcrumb-item"><a href="/users">Users</a></li>
    {% endif %}
    <li class="breadcrumb-item"><a href="/account">Accounts</a></li>
    <li class="breadcrumb-item"><a href="/contact">Contacts</a></li>
    <li class="breadcrumb-item"><a href="/campaigns">Campaigns</a></li>
    <li class="breadcrumb-item"><a href="/lead">Leads</a></li>
    <li class="breadcrumb-item"><a href="/target">Target</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href="/opportunities">Opportunities</a></li>
    <li class="breadcrumb-item"><a href="/calendar">Calendar</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="/task">Task</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a href="/meeting">Meetings</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a href="/note">Notes</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a href="/document">Documents</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a href="/cases">Cases</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a href="/email">Emails</a></li>
  </ol>
</nav>
