<div class="alert alert-light clearfix" role="alert">Copyright  &copy; 2019 <a href="https://deicrm.app/">DEICRM</a> v1 by <a href="https://github.com/FrozGR">KITSANTAS FOTIOS</a> & <a href="https://www.northampton.ac.uk">The University of Northampton</a>. All rights reserved.</div>
